<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Demo-Project</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.json</url-pattern>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.xml</url-pattern>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/META-INF/spring/applicationContext.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- This filter is used for spring security. -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- To secure the escape characters in the user input box. -->
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- Set the default value for mySQL database  -->
	<!--While maven build on prod - mvn -Dspring.profiles.active="prod" -->
	<!-- <context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>localM</param-value>
	</context-param> -->
	
	<!-- Set the default value for database.  -->
	<!--While maven build on prod - mvn -Dspring.profiles.active="prod" -->
	<env-entry>
		<env-entry-name>spring.profiles.active</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${env}</env-entry-value>
	</env-entry>
	
	<!-- TODO: Will use accordingly. -->
	<error-page>
		<exception-type>org.springframework.web.HttpSessionRequiredException</exception-type>
		<location>/login.jsp</location>
	</error-page>

	<!-- TODO: Will implement later - JNDI look up -->
	<!-- <resource-ref> <description>JNDI data source</description> <res-ref-name>jdbc/restservice</res-ref-name> 
		<res-type>javax.sql.DataSource</res-type> <res-auth>Container</res-auth> 
		</resource-ref> -->

</web-app>